<!DOCTYPE html>
<html>
  <head>
    <title>IndividualTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="610271274407-lqgh9k9svp4trldo456sbnnkmhtg2uvc.apps.googleusercontent.com.apps.googleusercontent.com">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
